.colunas {
  display: flex;
}

.barra-lateral {
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #263238;
  display: flex;
  flex-flow: column;
  flex: 0 1 calc(250px + 2vw);
}

.logo-cubos {
  margin-top: 2em;
  margin-bottom: 3.6em;
  height: calc(25px + 0.5vw);
}

.divImagens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 40px;
}

.divImagens img {
  height: calc(20px + 1vw);
}

.barra-lateral ul {
  margin-bottom: 340px;
}

.barra-lateral li {
  display: flex;
  padding: 20px 48px;
  cursor: pointer;
}

.barra-lateral > button {
  font-size: calc(12px + 0.1vw);
  align-self: center;
  background: #da0175;
  border-radius: 20px;
  width: 100%;
  max-width: 226px;
  flex: 0 1 45px;
  color: #f7f7f7;
  border: 0;
  cursor: pointer;
}

.li-clicado {
  background-color: #374952;
}

.barra-lateral li span {
  margin-left: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(11px + 0.2vw);
  line-height: 15px;
  color: #ffffff;
}

.conteudo {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 200px;
  width: 100%;
}

.header-content {
  margin: 0 5em;
  flex: 0 1 calc(1500px + 25vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divSaldo {
  display: flex;
  flex-direction: column;
  flex: 0 1 250px;
  background-color: #374952;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 30px;
  color: #ffffff;
}

.saldo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  width: 100%;
}

.saldo img {
  height: calc(13px + 0.5vw);
}

.saldo span {
  margin-left: 1em;
  font-size: calc(13px + 0.2vw);
}

.header .usuario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 2em;
}

.header .usuario button:nth-child(1) {
  outline: 0;
  align-self: flex-end;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.header .usuario button:nth-child(2) {
  cursor: pointer;
  border: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.divSaldo h2 {
  margin-left: 1.7em;
  font-size: calc(15px + 0.2vw);
}

.logout {
  display: flex;
  align-items: center;
  background: #ffffff;
  color: #323232;
  font-size: calc(11px + 0.2vw);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.2em 0.6em;
}

.divConteudo {
  display: flex;
  flex-direction: column;
  margin: 65px 80px;
  max-width: 100%;
}

.temporalidades {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #263238;
}

.temporalidades button {
  border: 3px solid transparent;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  color: #667e87;
  padding: 4px;
  margin-right: 2em;
  height: 36px;
}

.temporalidades span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.temporalidades .temporalidade-escolhida {
  border-bottom: 3px solid #263238;
  color: #263238;
}

.divBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.clientes,
.cobrancas,
.faturamento {
  flex: 0 1 40%;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  min-height: 350px;
  min-width: 450px;
  margin-bottom: 40px;
}

.faturamento {
  flex: 0 1 100%;
}

.clientes {
  margin-right: 40px;
}

.clientes .header-clientes,
.header-cobrancas {
  background: #374952;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: #ffffff;
}

@media (max-width: 1347px) {
  .barra-lateral > button {
    width: 70%;
  }

  .divConteudo,
  .temporalidades {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .divConteudo {
    padding: 0 80px;
    min-width: 100%;
  }

  .clientes {
    margin-right: 0;
  }

  .divBlocks {
    justify-content: center;
    gap: 2em;
  }
}

@media (max-width: 1000px) {
  .barra-lateral {
    display: none;
  }
  .temporalidades button {
    height: 80px;
  }
}
