@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.colunas {
  display: flex;
}

.barra-lateral {
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #263238;
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 300px;
}

.logo-cubos {
  margin-top: 2em;
  margin-bottom: 3.6em;
  height: calc(25px + 0.5vw);
}

.divImagens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 40px;
}

.divImagens img {
  height: calc(20px + 1vw);
}

.barra-lateral ul {
  margin-bottom: 340px;
}

.barra-lateral .link {
  display: flex;
  padding: 20px 48px;
  cursor: pointer;
}

.barra-lateral > button {
  font-size: calc(12px + 0.1vw);
  align-self: center;
  background: #da0175;
  border-radius: 20px;
  width: 100%;
  max-width: 226px;
  flex: 0 1 45px;
  color: #f7f7f7;
  border: 0;
  cursor: pointer;
}

.li-clicado {
  background-color: #374952;
}

.barra-lateral .link span {
  margin-left: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(11px + 0.2vw);
  line-height: 15px;
  color: #ffffff;
}

.conteudo {
  width: 100%;
}

.header,
.cobrancas-header {
  display: flex;
  justify-content: center;

  height: 200px;
  width: 100%;
}

.header {
  background-color: #ffffff;
}

.header-content {
  margin: 0 5em;
  flex: 0 1 calc(1500px + 25vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divSaldo {
  display: flex;
  flex-direction: column;
  flex: 0 1 250px;
  background-color: #374952;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 30px;
  color: #ffffff;
}

.criar-cobranca {
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: 29px;
  text-transform: uppercase;
  align-self: center;
}

.saldo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  width: 100%;
}

.saldo img {
  height: calc(13px + 0.5vw);
}

.saldo span {
  margin-left: 1em;
  font-size: calc(13px + 0.2vw);
}

.usuario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 2em;
}

.usuario button:nth-child(1) {
  outline: 0;
  align-self: flex-end;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.usuario button:nth-child(2) {
  cursor: pointer;
  border: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.divSaldo h2 {
  margin-left: 1.7em;
  font-size: calc(15px + 0.2vw);
}

.logout {
  display: flex;
  align-items: center;
  background: #ffffff;
  color: #323232;
  font-size: calc(11px + 0.2vw);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.2em 0.6em;
}

.divConteudo {
  display: flex;
  flex-direction: column;
  margin: 65px 80px;
  max-width: 100%;
}

.temporalidades {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #263238;
}

.temporalidades button {
  border: 3px solid transparent;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  color: #667e87;
  padding: 4px;
  margin-right: 2em;
}

.temporalidades span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.temporalidades .temporalidade-escolhida {
  border-bottom: 3px solid #263238;
  color: #263238;
}

.divBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.clientes,
.cobrancas,
.faturamento {
  flex: 0 1 40%;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  min-height: 350px;
  min-width: 450px;
  margin-bottom: 40px;
}

.faturamento {
  flex: 0 1 100%;
}

.clientes,
.cobrancas,
.faturamento {
  display: flex;
  flex-direction: column;
}

.header-clientes,
.header-cobrancas,
.header-faturamento {
  background: #374952;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  color: #ffffff;
  border-radius: 16px 16px 0px 0px;
}

.header-faturamento {
  justify-content: flex-start;
}

.header-faturamento img {
  margin-left: 3em;
}

.header-clientes img,
.header-cobrancas img,
.header-faturamento img {
  margin-right: 1em;
}

.relatorio-cobrancas,
.relatorio-clientes,
.relatorio-faturamento {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center !important;
  margin: 40px 0;
}

.verde,
.vermelho,
.azul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  font-style: normal;
  font-weight: 600;
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 1vw);
  border-radius: 8px;
}

.azul {
  border: 2px solid #5197b5;
  color: #5197b5;
}

.vermelho {
  margin: 1em 0;
  border: 2px solid #ff4d4d;
  color: #ff4d4d;
}

.verde {
  color: #4ec06e;
  border: 2px solid #4ec06e;
}

.faturamento-content {
  padding: 4em;
}

.formulario-cobranca {
  display: flex;
  justify-content: center;
  margin: 0 5em;
  background: #ffffff;
}

.formulario-cobranca form {
  padding: 2em 0;
  display: flex;
  flex: 0 1 50%;
  border-radius: 16px;
}

.formulario-cobranca label,
.inputs,
.form-botoes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formulario-cobranca input {
  border: 1px solid #374952;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1.5em;
  height: 60px;
}

.formulario-cobranca input:hover {
  border: 2px solid black;
}

.formulario-cobranca input:focus {
  outline: 0;
  border: 2px solid rgb(69, 69, 245);
}

.formulario-cobranca .select {
  margin-top: 1em;
  padding: 0;
}

.descricao-input {
  height: 80px !important;
}
.select button {
  box-shadow: none !important;
}

.select input {
  border: none !important;
}

.select > div {
  border: 1px solid #374952;
  border-radius: 8px;
}

.PrivateNotchedOutline-root-1:focus {
  border: 1px solid black;
}

.formulario-cobranca .valor {
  max-width: calc(300px + 1vw);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.formulario-cobranca .vencimento {
  width: 100%;
}

.form-botoes {
  display: flex;
  justify-content: center;
}

.form-botoes button {
  width: 100%;
  flex: 0 1 300px !important;
  max-width: 250px;
  margin-right: 2em;
  padding: 1em;
  font-weight: 600;
  font-size: 14px;
}

.form-botoes button:nth-child(1) {
  border: 1.5px solid #da0175;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  color: #da0175;
}

.completo {
  background: #da0175;
}

.descricao-select {
  margin-top: 5px;
  font-size: calc(10px + 0.4vw);
  font-weight: normal;
  color: #868686;
}

@media (max-width: 1347px) {
  .formulario-cobranca label,
  .inputs,
  .form-botoes {
    flex-wrap: wrap;
  }

  .valor,
  .vencimento {
    max-width: 100% !important;
  }

  .barra-lateral > button {
    width: 70%;
  }

  .divConteudo,
  .temporalidades {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .clientes,
  .cobrancas,
  .faturamento {
    min-width: 300px;
  }

  .divConteudo {
    padding: 0 80px;
    min-width: 100%;
  }

  .divBlocks {
    justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  .usuario {
    margin-top: 5em !important;
    margin-left: 2em;
  }

  .formulario-cobranca {
    display: flex;
    justify-content: center;
    margin: 0;
    background: #ffffff;
  }

  .formulario-cobranca form {
    padding: 0;
    display: flex;
    flex: 0 1 80%;
  }

  .barra-lateral {
    display: none;
  }

  .temporalidades {
    border: 0;
  }

  .clientes,
  .cobrancas,
  .faturamento {
    min-width: 90vw;
  }

  .divConteudo {
    margin-top: 2em;
    padding: 0 2em;
  }
}

@media (max-width: 460px) {
  .header-content {
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 1vw);
  }

  .usuario {
    margin-top: 2em !important;
    margin-left: 0;
    align-self: center;
  }
}
